{% extends "base.html" %}

{% block content %}

  <p><strong><a href="{% url 'vrstadel-list' %}"> Vrsta Del List </a></strong></p>

  <h1>Opis: {{ object.opis }}</h1>

  <p><strong>Opis:</strong>{{ object.opis }}</p>
  <p><strong>Skupina del:</strong>{{ object.skupina_del }}</p>


  {% for dela in object.dela_set.all %}
  <li>
<!-- <a href="{{ postavka.get_absolute_url }}">{{ postavka.opis}}</a>  tudi to deluje-->
    <a href="{% url 'dela-detail' dela.pk %}">{{ dela.opis}}</a>

  </li>
  {% endfor %}


{% endblock %}
